body{
    background: url("https://phonoteka.org/uploads/posts/2021-04/1619807194_11-phonoteka_org-p-azimov-ks-go-fon-11.png");
}


footer {
    display: block;
    text-align: center;
    padding: 3px;
    color: white;
}


/*hr*/
 hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 5px; /* Толщина линии */
   }